<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISUBDService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISUBDService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SUBDService.DBMenu"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISUBDService"
                contract="SUBDService.ISUBDService" name="BasicHttpBinding_ISUBDService" />
            <endpoint address="net.tcp://localhost:45000/SUBDService.DBMenu"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISUBDService"
                contract="SUBDService.ISUBDService" name="NetTcpBinding_ISUBDService">
                <identity>
                    <userPrincipalName value="DESKTOP-N0D5OUV\igor" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>