<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DBMenuSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="DBMenuSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44398/DBMenu.asmx" binding="basicHttpBinding"
                bindingConfiguration="DBMenuSoap" contract="SUBDWebService.DBMenuSoap"
                name="DBMenuSoap" />
        </client>
    </system.serviceModel>
</configuration>